  @font-face {
    font-family: "CloisterBlack";
    src: url(../fonts/CloisterBlack.ttf);}

*{margin: 0;
padding: 0;}

	
body {
    text-align: center;
    font-family: "CloisterBlack";
    font-size: 1.3em;}

h2 {font-size: 1.5em;}
	
.firstScreenWrapper{ 
    background-image: url(../img/fortress.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    z-index:0;
    height:1013px;
    text-align: center;}

	
.title {
  	font-size:4em;
  	color: #fff;
    text-transform: uppercase;
    padding: 5em 3em;}

.textstyler {    
    width: 600px;
    font-size: 1.8em;
    line-height: 2em;
    margin: 0 auto;}

.sabBackground {
        background: url(../img/bg_021.jpg);}	

.heroPresentation, .screenShotsWrapper {display: flex;
    justify-content: space-between;
    padding: 5em;}

.screenShotsWrapper {
    flex-wrap: wrap;
    justify-content: center;}

.authorWrapper {
    padding: 0 0 2em;
    line-height: 1.5em;}
.author {border-radius: 50%;}

.colorMaker {color: firebrick;}
.marginMaker {margin: 2em auto;}	
.button{
    border-radius: 5px;
    background-color:#000;
    opacity: .7;
    color:#fff;
    font-size: 1.5em;
    padding:10px 20px;
    text-decoration: none;}


@media screen and (min-width: 1480px) 	{
.screenShotsWrapper {
    flex-wrap: nowrap;
    justify-content: space-between;}

}
	
	
	